.poppins {
    font-family: "Poppins", sans-serif;
  }

 /* .list_today  p, .list_today  h4{
      font-size: 8px;
      margin-top: 4px;
  }

  .list_today h2{
    font-size: 12px;
  } */
